{% extends "tas/base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <div class="app-header">
        <h1>My Tasks</h1>
        <a href="{% url 'task_creating' %}" class="btn-add">+ New Task</a>
        
    </div>
            <form method="GET" class="filter-bar" id="filter-form" data-list-url="{% url 'task_list' %}">   <!-- Why method="GET" instead of POST --- GET puts form data directly into the URL as a query string, e.g.:   http://127.0.0.1:8000/?status=P         -->

             <input type="text"
               name="q"
               id="search-input"
               placeholder="Search by title..."
               value="{{ search_query }}"
               class="search-input"
               autocomplete="off">
         

    <label for="status">Filter by status:</label>
    <select name="status" id="status" onchange="this.form.submit()"> <!-- This is a tiny inline JavaScript snippet that fires the moment the selected option changes.
                                                                     this refers to the <select> element, this.form refers to its parent <form>, and .submit() triggers
                                                                      the form submission programmatically — as if you'd clicked a submit button.-->
        <option value="" {% if status_filter == '' %}selected{% endif %}>All</option>
        <option value="P" {% if status_filter == 'P' %}selected{% endif %}>Pending</option>
        <option value="IN" {% if status_filter == 'IN' %}selected{% endif %}>In Progress</option>
        <option value="C" {% if status_filter == 'C' %}selected{% endif %}>Completed</option>
    </select>
        <button type="submit" class="btn-search">Search</button>

    {% if search_query or status_filter %}
        <a href="{% url 'task_list' %}" class="btn-clear">Clear</a>
    {% endif %}
</form>
    <div id="task-table-container">
        {% include "tas/_task_table.html" %}
    </div>
 
</div>
{% endblock %}